.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(168, 168, 168);
    height: 100vh;
    width: 100vw;
}
.containerCrad{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items:center ;
    width: 80vw;
    height: 45vh;
    gap: 20px;
    background-color: aqua;
    
}
.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}