.Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    position: fixed;
    transform: translateY(0px);
    cursor: pointer;

    transition: all 0.3s ease;
}
.Main:hover{
    position: absolute;
    transform: translateY(-60px);
    background-color: #f3f3f3;
}
.Cont{
        margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 2vh;
}
.ConatinerNmae{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.name{
    display: flex;
    text-align: justify;
    width: 80%;
    font-size: 1rem;
    overflow: hidden;
/* white-space: nowrap; */
    text-overflow: ellipsis;
}
.ConatinerImage{
    overflow: hidden;
    border-radius: 20px;
    width: 50%;
    height: 90%;
}
.imge{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ConatinerDESCRI{
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 100%;
    height: 45%;
}
.descrip{
    display: flex;
    width: 80%;
    text-align: left;
    height: 100px;
    height: auto;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}